extends ./layout.jade

block content
	div(class="row")
		div(class="col-lg-12")
			h1(class="page-header") 首页
	table(class="table table-bordered table-hover table-striped")
		each todo in todoList
			tr
				td #{todo.id}
				td #{todo.title}
				td #{todo.complete}
				td #{todo.UserId}
				td #{todo.createdAt}
				td #{todo.updatedAt}